#!/bin/bash

PATH_TO_SC3="${SEISCOMP_ROOT:-@CMAKE_INSTALL_PREFIX@}"

# set up a proper environment
. $PATH_TO_SC3/lib/env.sh

SEISCOMP3_LIB=$SEISCOMP3_ROOT/lib
SEISCOMP3_BIN=$SEISCOMP3_ROOT/bin

py=@MAIN_PY@

if [ ! -e $py ]
then
   py=$SEISCOMP3_BIN/$py
fi

exec python "$py" "$@"
