# configure the message groups to use
msgGroups = AMPLITUDE, \
            PICK, \
            LOCATION, \
            MAGNITUDE, \
            FOCMECH, \
            EVENT, \
            QC, \
            PUBLICATION, \
            GUI, \
            INVENTORY, \
            ROUTING, \
            CONFIG, \
            LOGGING, \
            SERVICE_REQUEST, \
            SERVICE_PROVIDE

admin.adminname = ""
admin.password = ""
